.container {
    width: 100%;
    min-height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 130px;
    flex-direction: column;
}

li {
    height: 70px;
    width: 30%;
    border-top: 1px solid gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    color: white;
}
