/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input,
select {
    margin-top: 0;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
    height: 36px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 300px;
}

.invalid-input {
    border: 1px solid red;
}

.invalid-text {
    margin-top: 5px;
    color: red;
}

.disabled {
    background: gray !important;
}
.disabled:hover {
    cursor:not-allowed;
}

button {
    padding: 7px 18px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    background: black;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
}
